@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    &::-webkit-scrollbar {
        display: none;
      }
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(/asset/antena_parabola.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal-wa{
    color: #000;
    p{
        display: inline-block;
        margin-bottom: 0;
        
    }
}
.isi-teks{
    width: 100%;
    border: 1px solid #fff;
    outline: none;
    overflow: hidden;
    color: #fff;
}

.container-content{
    position: relative;
    .header{
        // background-image: url(/asset/newbedug.png);
        // width: 100%;
        // height: 800px;
        // position: fixed;
        // top: 0;
    }
    .main-content{
        width: 62.5rem;
        margin: 0 auto;
        display: grid;
        position: absolute;
        top: 5rem;
        left:50%;
        padding-bottom: 2.5rem;
        transform: translate(-50%,0);
        h3{
            margin-bottom: 2.5rem;
            color: #fff;
        }
        @include responsive(phone){
            width: 100%;
        }
    }

    .data-petugas,.data-hubhx,.data-csts,.data-idr{
        transition: .3s;
        .cover-content{
            border: .5px solid rgb(173, 173, 173);
            background-color: #fff;
            border-radius: 1.25rem;
            padding: 2.5rem;
            margin-bottom: 20px;
            .judul{
                margin-bottom: 40px;
                p{
                    font-size: 1.125rem;
                }
            }
            @include responsive(phone){
                padding: 16px;
            }
        }
        
    }

    .data-petugas{
        @include responsive(phone){
            padding: 16px;
        }
    }

    .data-hubhx{
        .cover-content{
            .input-cover{
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                grid-gap: 16px;
            }
        }
    }

    .data-csts,.data-idr{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-gap: 16px;
    }
    form{
        position: relative;
        .input-cover{
            display: grid;
            grid-template-rows: auto 1fr;
            width: 100%;
            row-gap: 12px;
            margin-bottom: 20px;
            label{
                color: rgb(80, 80, 80);
                font-weight: 500;
            }
            input{
                height: 44px;
                border-radius: 10px;
                outline: none;
                border: none; 
                border: .5px solid rgb(133, 133, 133);
                padding-left: 10px;
            }
            select{
                height: 44px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
            }
        }   

        .cover-jaga{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            column-gap: 20px;
            margin-top: 40px;
            .input-cover{
                display: grid;
                grid-template-rows: auto 1fr;
                width: 100%;
                row-gap: 12px;
                margin-bottom: 20px;
                label{
                    color: rgb(80, 80, 80);
                    font-weight: 500;
                }
                input{
                    height: 44px;
                    border-radius: 10px;
                    outline: none;
                    border: none; 
                    border: .5px solid rgb(133, 133, 133);
                    padding-left: 10px;
                }
                select{
                    height: 44px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
     .btn-cover{
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: 20px;
            position: fixed;
            top:70px;
            right:-220px;
            width: 200px;
            @include responsive(phone){
                display: none;
            }
            .nav-link{
                background-color: #fff;
                border-radius: 20px;
                padding: 16px;
                margin-bottom: 20px;
                box-shadow: 0 0 20px rgba(0,0,0,.2);
                a{
                    display: grid;
                    width: 100%;
                    padding: 10px 16px;
                    justify-self: start;
                    border-radius: 10px;
                    font-weight: 500;
                    text-decoration: none;
                    color: rgba(0,0,0,.4);
                    &.active{
                        color: rgb(30, 3, 66);
                        font-weight: 600;
                    }
                }
            }
            .btn-coverkirim{
                background-color: #fff;
                padding: 16px;
                border-radius: 20px;
                box-shadow: 0 0 20px rgba(0,0,0,.2);
                .btn{
                    width: 100%;
                    border-radius: 8px;
                }
            }
            
        }
}